@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

body {
  font-family: "Bubblegum Sans", cursive;
  color: rgba(0, 0, 0, 0.8);
  background-color: #f9f4ef;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 30px;
  padding: 10px;
}

h1 {
  color: #020826;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
}

#controls-container,
#grid-container {
  padding: 50px;
  gap: 20px;
}

button {
  width: 150px;
  height: 40px;
  display: block;
  align-items: center;
  background-color: #f9f4ef;
  color: #020826;
  border: solid #020826 2px;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: #8c7851;
  color: #fffffe;
  cursor: pointer;
}
